@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

@import 'variables';
@import 'mixins';
@import 'functions';

*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    font-size: 1vw;
    scroll-behavior: smooth;
    user-select: none;
}

.App{
    @include mobileFill;    
}

.home{
    @include mobileFill;
    @include mobileBackground('../img/bgMobile.png');

    &__logo{
        margin-top: 10vw;
        width: 150px;
        height: 150px;
    }
    &__title{
        & p{
            text-align: center;
            font-size: getFonts(mobileLarge);
            font-weight: getFontWeights(mobileBold);
            color: getColors(dark);
            line-height: getHeights(mobileLarge);
        }
        &__desc{
            margin-top: 2vw;
            & p{
                font-size: getFonts(mobileRegular);
                font-weight: getFontWeights(mobileMedium);
                color: getColors(text);
                padding: 1vw 3vw;
                line-height: getHeights(mobileRegular);
                text-align: center;
            }
        }
    }    
}

.navMobile{
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 95vw;
    height: 15vw;
    margin: 3vw 0;
    z-index: 999;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    @include elevateMobileBold;
    &__navItems{
        list-style: none;
        opacity: 0.2;
        &__icons{
            width: 6vw;
        }
    }
}

.cases{
    @include mobileFill;
    @include mobileBackground('../img/bgCasesMobile.png');
}

.active{
    opacity: 0.8;
}